body {
    background-color: powderblue;
    background-image: url('../imatje/OIP.jpg');
    background-repeat:no-repeat ; 
    background-size: cover;}





    h1 {
        color: rgba(0, 0, 255, 1);
    }

    p{
        color: red;

    }